<div id="featured" class="container">
    <div class="row justify-content-center mb-3">
        <!-- A for of loop that will create a number of divs containing links filled with headlines of the day -->
        <% for(let product of allProducts){ %>
            <% if (product.featured === true) { %>
            <div class="featuredProducts">
                <div class="card-body shadow-lg rounded-3">
                    <span><img src="/images/redvelvetcake.png" class="img-thumbnail img-fluid" alt="..."></span>
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text"> <%= product.description %> </p>
                    <a href="#" class="btn btn-primary">Click here</a>
                </div>
            </div>
            <% } %>
        <% }%>

    <!-- Span with css that will animate how much time left before headline changes/slides -->
    <span class="timer"></span>
    </div>
</div>