<div id="featured" class="container">
    <div class="row justify-content-center mb-3" id="slideshow">
        <!-- A for of loop that will create a number of divs containing links filled with headlines of the day -->
        <% for(let i = 0; i < allProducts.length; i++){ %>
            <% if (allProducts.featured === true) { %>
            <div class="featuredProducts slide-item" data-index="<%= i %>">
                <div class="card-body shadow-lg rounded-3">
                    <span><img src="https://drive.google.com/uc?id=<%= allProducts.img%>" class="img-thumbnail img-fluid rounded-4" alt="..."></span>
                    <h5 class="card-title"><%= allProducts.name %></h5>
                    <p class="card-text"> <%= allProducts.description %> </p>
                    <a href="#" class="btn btn-primary">Click here</a>
                </div>
            </div>
            <% } %>
        <% }%>

    </div>
</div>