@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes appear {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    80% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes fade-out-left {
    0% {
        display: flex;
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes move-left {
    0% {
        display: flex;
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes fade-in-from-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
        display: flex;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.featuredProducts {
    /* animation: appear 10s infinite ease; */
    width: 18rem;
}